html, body {
  height: 100%;
  width: 100%;
  font-family: "EB Garamond";
  margin: 0%;
  background-color: #f8f8f8;
}

/*tags styles*/
h2{
  color:#3CACAE;
  font-family: 'Quicksand', sans-serif;
}
form{
  margin:2%;
  padding:2% 20%;
  text-align: left;
}
input{
  margin-top:0.8%;
  margin-bottom:1%;
  box-shadow: -24px 27px 54px -24px rgba(0,0,0,0.75);
}
label{
  color:black;
}
li a{
  text-decoration: none;
  color: #3CACAE;
  margin: 10px;
}
li{
  float: left;
}
textarea{
  margin-top:1.5%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 10%);
}
a:hover {
  color:orchid;
  text-decoration: underline;
}
td{
  text-align: left;
}

/*Header*/
#banner{
  background-color:orchid;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 10%);
}
#name{
  margin-top:7%;
  align-items: center;
}
#nombre{
  font-size:29px;
  color:orchid;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}
#pic{
  width:15%;
  height:15%;
  margin-top:5%;
  margin-bottom: -7.5%;
}

/*nav*/
.nav{
  list-style-type: none;
  position:relative;
  display: inline-block;
  background-color:#f8f8f8;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 50%);
  font-size: 17px;
  margin-bottom:20px;
  padding:10px;
  letter-spacing: 1px;
  text-align: center;
}
#container{
  width:100%;
  text-align:center;
}

/*body*/
.grid{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(4,1fr);
  grid-template-rows:min-content;
  padding:4%;
  text-align: center;
  align-items: center;
  gap:1% 0%;
}
#p-info{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 4% 8%;
  box-shadow: 0 0 1px rgb(0 0 0 / 8%), 0 1px 6px rgb(0 0 0 /8%), 0 5px 5px rgb(0 0 0 /8%); 
  margin-right:5%;
}
#f-academica{
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 6.5% 11%;
  box-shadow: 0 0 1px rgb(0 0 0 / 8%), 0 1px 6px rgb(0 0 0 / 8%), 0 5px 5px rgb(0 0 0 /8%); 
  margin-left: 5%;
}
#map{
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}
#destrezas{
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0 auto;
}
.tabla{
  border: 3px solid orchid;
  background-color: #fbf0fb;
  border-collapse: collapse;
  box-shadow: 5px 3px 3px grey;
}
#contact-tag{
  align-content: center;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 4;
}
#forma-c{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  align-items: center;
  border-right: 2px dashed #3CACAE;
}
#fondo{
  background-color: #FDEFF4;
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 5;
  width: 100%;
}
#container-c{
  padding:5%;
  width: 90%;
  box-shadow: 0 0 1px rgb(0 0 0 / 8%), 0 1px 6px rgb(0 0 0 / 8%), 0 5px 5px rgb(0 0 0 /8%); 
  background-color: #fbf0fb;
  border-radius: 5%;
}
.letras-c{
  font-size: 20px;
  text-align: center;
  padding-left: 8%;
}
.icons{
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 5;
  margin: 0 auto;
  align-items: center;
}
td{
  text-align: center;
}
table{
  padding: 25%;
  background-color: #fbf0fb;
  box-shadow: 0 0 1px rgb(0 0 0 / 8%), 0 1px 6px rgb(0 0 0 / 8%), 0 5px 5px rgb(0 0 0 /8%); 
  border-radius: 5%;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48;
  font-size: 36px;
}

/*multimedia*/
#vid-tit{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}
#podc-tit{
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}
#videos{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 5;
  border-right: 2px dashed #3CACAE;
}
#podcasts{
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 5;
}
iframe{
  width:75%;
}

hr{
  background-color:#C8F4F9;
  border-color: #C8F4F9;
  border-width: 0.5%;
}
/*footer*/
#logos{
  width:5%;
  height:5%;
  margin:0.1%
}