<mat-toolbar id="mainNav">  
  <button mat-icon-button color="accent"  routerLink="/menu">  
    <mat-icon>arrow_back</mat-icon>  
  </button>  
  <span class="card-title"><b>{{seleccion}}</b></span>  
</mat-toolbar>

<!--Secciones-->
<div class="box">
  <div *ngFor="let receta of recetas">
    <div *ngIf="receta['categoria']==seleccion || receta['dificultad']==seleccion || receta['paisOrigen']==seleccion">
      <mat-card class="example-card" routerLink="/receta" (click)="guardarReceta(receta['calificacion'],receta['categoria'],receta['descripcion'],receta['dificultad'],receta['fechaSubida'],receta['nombreReceta'],receta['paisOrigen'],receta['tiempoPreparacion'])">
        <img mat-card-image src="assets/imagenes/food/{{imagenRd()}}">
        <mat-card-title >{{receta['nombreReceta']}}</mat-card-title>
        <mat-card-content class="mtc-styles">
          <mat-icon class="icons-st">star</mat-icon><span>{{receta['calificacion']}}</span>
          <mat-icon class="icons-st">timer</mat-icon><span>{{receta['tiempoPreparacion']}}</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>