<mat-toolbar id="mainNav">  
  <span><button mat-icon-button color="accent"  routerLink="/menu">  
     <mat-icon>tune</mat-icon></button>  
  </span>
  <span class="card-title"><b>What's for dinner?</b></span>  
</mat-toolbar>

<!--Secciones-->
<div id="titl">
  <h2>Todas las recetas</h2>
</div>
<div class="box">
  <div *ngFor="let receta of recetas">
    <div>
      <mat-card class="example-card" routerLink="/receta" (click)="guardarReceta(receta['calificacion'],receta['categoria'],receta['descripcion'],receta['dificultad'],receta['fechaSubida'],receta['nombreReceta'],receta['paisOrigen'],receta['tiempoPreparacion'])">
        <img mat-card-image src="assets/imagenes/food/{{imagenRd()}}">
        <mat-card-title >{{receta['nombreReceta']}}</mat-card-title>
        <mat-card-content class="mtc-styles">
          <mat-icon class="icons-st">star</mat-icon><span>{{receta['calificacion']}}</span>
          <mat-icon class="icons-st">timer</mat-icon><span>{{receta['tiempoPreparacion']}}</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
