<nav class="navbar" id="mainNav">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" routerLink="/menu">
            <!--check back icon-->
        </button>
        <!--Esto cambia de manera dinámica, soon!**********--> 
        <p class="navbar-brand"><b>Mariscos</b></p>
    </div>
</nav>
<div>
    <!--Prueba de html antes de javascript. INFORMACIÓN QUEMADA, OJO!!!!!-->
    <section>
        <div class="card">
            <img src="assets/imagenes/food/encebollado.jpg" class="card-img-top" alt="img-encebollado">
            <div class="card-body">
              <p class="card-title">Encebollado</p>
              <div class="card-text">
                <span><!--Aquí va la estrella, no olvidar!!!-->4.5</span>
                <span><!--Aquí va el icon del timer, no olvidar!!!-->52 minutos</span>
              </div>
            </div>
        </div>
        <div class="card">
            <img src="assets/imagenes/food/tortillaC.jpg" class="card-img-top" alt="img-tortilla">
            <div class="card-body">
              <p class="card-title">Tortilla de cangrejo</p>
              <div class="card-text">
                <span><!--Aquí va la estrella, no olvidar!!!-->4.3</span>
                <span><!--Aquí va el icon del timer, no olvidar!!!--> 20 minutos</span>
              </div>
            </div>
        </div>
    </section>
    <section>
        <div class="card">
            <img src="assets/imagenes/food/salmon.jpg" class="card-img-top" alt="img-salmon">
            <div class="card-body">
              <p class="card-title">Salmón al chipotle</p>
              <div class="card-text">
                <span><!--Aquí va la estrella, no olvidar!!!-->4.9</span>
                <span><!--Aquí va el icon del timer, no olvidar!!!-->25 minutos</span>
              </div>
            </div>
        </div>
        <div class="card">
            <img src="assets/imagenes/food/costillas.jpg" class="card-img-top" alt="img-costillas">
            <div class="card-body">
              <p class="card-title">Costillas</p>
              <div class="card-text">
                <span><!--Aquí va la estrella, no olvidar!!!-->4.5</span>
                <span><!--Aquí va el icon del timer, no olvidar!!!-->3 horas</span>
              </div>
            </div>
        </div>
    </section>
    <section>
        <div class="card">
            <img src="assets/imagenes/food/parmesan.jpg" class="card-img-top" alt="img-pollo-parmesano">
            <div class="card-body">
              <p class="card-title">Pollo parmesano</p>
              <div class="card-text">
                <span><!--Aquí va la estrella, no olvidar!!!-->4.6</span>
                <span><!--Aquí va el icon del timer, no olvidar!!!-->1 hora</span>
              </div>
            </div>
        </div>
        <div class="card">
            <img src="assets/imagenes/food/esparragos.jpg" class="card-img-top" alt="img-esparragos">
            <div class="card-body">
              <p class="card-title">Esparragos rostizados</p>
              <div class="card-text">
                <span><!--Aquí va la estrella, no olvidar!!!-->4.6</span>
                <span><!--Aquí va el icon del timer, no olvidar!!!-->35 minutos</span>
              </div>
            </div>
        </div>
    </section>
</div>