@media screen and (max-device-width: 375px) {
    .filter-op{
        justify-content: center;
        text-align: center;
    }
    #filter-t{
        margin: 5%;
        color: #8C8588;
    }
    .accordion-body{
        text-align: center;
    }
    p{
        font-size: 15px;
    }
    .accordion-button{
        font-size: 18px;
        color: #612940;
    }
}